.ReactModal__Overlay.ReactModal__Overlay--after-open{
  background-color: rgba(0, 0, 0, 0.4) !important;
  top: 89px !important;
  z-index: 50 ;
  overflow-y: scroll;
}

#root .prevent-scroll{
  height: 100vh;
  overflow-y: hidden;
}